APScheduler==3.5.1
bitmex-ws==0.3.1
ccxt==1.14.119
configparser==3.5.0
influxdb==5.0.0
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.4
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.33.8
jupyterlab-launcher==0.11.2
lomond==0.2.5
numpy==1.14.3
pandas==0.22.0
psutil==5.4.6
py==1.5.3
Pygments==2.2.0
pylint==1.8.4
python-dateutil==2.7.2
pyti==0.2.2
TA-Lib==0.4.17